<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.object">
                    <i class="icon-grid"></i> Object Recognition </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.face">
                    <i class="icon-magnifier"></i> Face Recognition </a>
            </li>
        </ul>
    </nav>
</div>